header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 64px;
    background-color: #fff;
    display: flex;
    gap: 64px;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 128px);
}
header > * {
    flex: 1;
}
.header_right {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: flex-end;
}
nav {
    display: flex;
    gap: 32px;
}
nav a {
    color: #191921;
    line-height: 1.28;
    letter-spacing: 0.16px;
    text-decoration: none;
}